:root {
  font-size: 16px;
}
* {
  /*  para tirar a barra de rolagem  */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.table {
  background-color: #3f88c5;
  height: 100vh;
  padding-top: 3rem;
}

.container {
  margin: 0 auto;
  width: 40vw;
}
.score {
  font-size: 18px;
  color: #fdfdfd;
}
.cartas {
  /*  colocar as cartas em colunas  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*  certas no meio  */
  place-items: center;
  /*  espaçamento entre as cartas  */
  gap: 0.5rem;
  
  padding: 0.5rem;
  background-color: #fffa62;
  width: 40vw;
  border-radius: 0.625rem;
  /*  sombra nas bordas  */
  box-shadow: 0.875rem 0.875rem 0 0 #0004;
}

.card {
  display: flex;
  /*  o nome desce somente pro meio  */
  align-items: center;
  /*  aqui ele centraliza o nome  */
  justify-content: center;
  font-weight: 700;
  width: 5rem;
  height: 6rem;
  background-color: #ffcf7f;
  border-radius: 0.625rem;
  cursor: pointer;
  color: transparent;
  
  transform: rotateY(180deg);
  transform-style: preverse-3d;
  transition: transform 0.3s ease;
}
.open {
  background-color: #ff9090;
  color: black;
  transform: rotateY(0deg);
}
